<div class="page-container">
  <div
    [@toggleBackground]="animationState"
    [ngStyle]="{ visibility: videoShown ? 'visible' : 'hidden' }"
    id="backgroundItem"
    (click)="forceClose()"
  ></div>
  <h1 class="page-heading">Corona Krise - Wie kann ich helfen?</h1>
  <p class="page-description">
    Es gibt viele Möglichkeiten einander zu helfen oder sich zu informieren, wir
    versuchen dir hier einen guten Überblick über alle Möglichkeiten zu geben.
  </p>
  <div class="search-container">
    <input
      type="text"
      id="search"
      placeholder="Nach Services suchen..."
      name="search"
      (input)="onKey($event.target.value)"
    />
  </div>
  <div class="tag-container">
    <div
      class="tag"
      *ngFor="let tag of getTags()"
      (click)="onTagClick(tag.name)"
      [ngStyle]="{
        border:
          '2px solid ' +
          (!selectedTags.includes(tag.name) ? tag.color : 'transparent'),
        color: !selectedTags.includes(tag.name)
          ? 'black'
          : invertColor(tag.color),
        'background-color': !selectedTags.includes(tag.name)
          ? 'white'
          : tag.color
      }"
    >
      <p class="tag-text">
        {{ tag.name }}
      </p>
    </div>
  </div>
  <p class="tutorial">
    Du kannst im "Suchen"-Feld nach einem bestimmten Service suchen und
    einen/mehrere Tags auswählen um dir nur Services mit diesen Tags anzeigen zu
    lassen. Wenn du keinen Tag ausgewählt hast, werden dir alle Services
    angezeigt.
  </p>
  <div class="icon-explanations">
    <p>
      <img src="../../../../assets/icon_android_black.svg" alt="" />
      - es gibt eine Android-App
    </p>
    <p>
      <fa-icon class="icon" [icon]="faApple"></fa-icon>
      - es gibt eine iOS-App
    </p>
    <p>
      <fa-icon class="icon" [icon]="faDesktop"></fa-icon>
      - es gibt eine Website/Social-Media Kanal
    </p>
  </div>
  <p *ngIf="noResults" class="no-entries">
    Wir haben leider keine Einträge gefunden, die zu deiner Suche passen. Teile
    unsere Seite mit vielen Leuten, damit möglichst viele Services hinzugefügt
    und gefunden werden können.
  </p>
  <div class="card-content">
    <div class="category-container" *ngFor="let cat of categories">
      <div *ngIf="getCardsFor(cat).length != 0">
        <div class="category-heading-container">
          <!--*ngIf="getCardsFor(cat).length != 0"-->
          <h2 class="category-heading">{{ cat }}</h2>
        </div>
        <div class="bar"></div>
        <!--*ngIf="getCardsFor(cat).length != 0"-->
        <div class="cards" *ngIf="getCardsFor(cat).length != 0">
          <!-- <div class="card-container" *ngFor="let card of getCardsFor(cat)"> -->
          <app-index-card
            class="card-container"
            *ngFor="let card of getCardsFor(cat)"
            [content]="card"
            (onOpen)="changeOpenState($event)"
          >
          </app-index-card>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
