.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -30px;
  transition: all 0.3s;
}

.card-container {
  min-height: 440px;
  height: 440px;
  width: 30%;
  min-width: 400px;
  max-width: 400px;
  margin: 10px;
  margin-top: 50px;
  transition: all 0.3s;
  box-sizing: border-box;
}

.card-container:hover {
  flex-grow: 3;
}

.search-container {
  width: 40%;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}

.card-content {
  height: 100%;
  width: 100%;
  padding-bottom: 64px;
}

#search {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  border: 2px solid hsl(240, 35%, 20%);
  outline: none;
  margin-top: 30px;
  padding-left: 20px;
  margin-left: -20px;
  font-size: 1.5em;
}

#search::placeholder {
  color: #7a7a7a;
  opacity: 1;
  font-family: Roboto-Light;
}

.category-heading-container {
  text-align: center;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 70px;
  font-size: 1.6em;
  font-family: Roboto-Regular;
  text-transform: uppercase;
}

.bar {
  height: 2px;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: -20px;
  background: hsl(240, 35%, 20%);
}

.tutorial {
  font-size: 1em;
  color: rgba(0, 0, 0, 0.6);
  padding: 0px;
  margin: 8px auto;
  width: 50%;
  margin-top: 8px;
  font-family: "Roboto-Light";
  text-align: center;
}

.icon-explanations {
  margin: 0 auto;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  opacity: 0.6;
}

.icon-explanations img,
.icon-explanations fa-icon {
  padding-right: 8px;
}

.icon-explanations p {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

.icon {
  font-size: 2em;
}

#androidIcon {
  background: url(../../../../../assets/icon_android_black.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.type-icon {
  display: inline-block;
  height: 36px;
  width: 36px;
}

#backgroundItem {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.no-entries {
  text-align: center;
  font-size: 2em;
  padding: 32px;
  width: 50%;
  margin: 0 auto;
  box-sizing: border-box;
}

.tag-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.tag:hover {
  cursor: pointer;
  /* transform: scale(1.05); */
}

.tag {
  height: 25px;
  color: #ffffff;
  border-radius: 20px;
  border: 2px solid white;
  text-transform: uppercase;
  font-size: 0.8em;
  margin: 4px;
  padding: 0px 10px;
  transition: all 0.2s;
}

.tag p {
  margin-top: 5px;
}

.footer {
  height: 30px;
  margin-top: 400px;
}

/* @media (min-width: 1000px) {
  .card-container:hover {
    flex-grow: 3;
    max-width: 660px;
  }
} */

@media (min-width: 1300px) {
  .cards {
    width: 1200px;
  }
}

@media (min-width: 1700px) {
  .cards {
    width: 1600px;
  }
}

@media (min-width: 1700px) {
  .cards {
    width: 1600px;
  }
}

@media (min-width: 2100px) {
  .cards {
    width: 2000px;
  }
}

@media (max-width: 1000px) {
  .cards {
    margin-top: 8px;
    width: 90%;
  }

  .card-container {
    height: auto;
    min-height: auto;
    width: 100%;
    min-width: auto;
  }

  .search-container {
    width: 70%;
  }

  .category-heading-container {
    width: 90%;
  }

  .tag-container {
    margin: 0px auto;
    margin-top: 60px;
    width: auto;
  }

  .tutorial {
    width: 95%;
  }

  .no-entries {
    width: 90%;
  }
}
