<div class="container">
  <div class="link-list">
    <a (click)="onclick('impressum')">Impressum</a>
    <a (click)="onclick('dataprivacy')">Datenschutzerklärung</a>    
  </div>
  <div class="captcha-info">
    This site is protected by reCAPTCHA and the Google
    <a href="https://policies.google.com/privacy">Privacy Policy</a> and
    <a href="https://policies.google.com/terms">Terms of Service</a> apply.
  </div>
</div>
