.container {
  width: 100%;
  background-color: hsl(240, 35%, 20%);
}

.link-list {
  background-color: hsl(240, 35%, 20%);
  color: white;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

a {
  padding: 8px;
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.captcha-info {
  text-align: center;
  color: white;
  padding-bottom: 8px;
}

.captcha-info a {
  padding: 0px;
}

@media (max-width: 1000px) {
  .link-list {
    width: 100%;
  }
}
