.container {
  width: 50%;
  margin: 64px auto 0px auto;
  padding-bottom: 128px;
}

a {
  font-size: 1em;
  text-align: left;
  font-family: Roboto-Regular;
  text-decoration: none;
  color: hsl(240, 35%, 20%);
}

a:hover{
    text-decoration: underline;
}

strong{
  font-family: 'Roboto-Bold';
}

@media (max-width: 1000px){
  .container{
    width: 90%;
  }
}