<div class="container">
  <h1>Datenschutzerklärung</h1>
  <h3>1. Datenerhebung bei der Nutzung unserer Seite</h3>
  <p>
    Durch den Besuch des Internetauftritts können Informationen (Datum, Uhrzeit, aufgerufene Seite) über den Zugriff
    auf dem Server gespeichert werden. Es werden keine personenbezogenenen (z. B. Name, Anschrift oder E-Mail-Adresse)
    Daten, gespeichert.</p>
  <p>Sofern personenbezogene Daten erhoben werden, erfolgt dies, sofern möglich, nur mit dem vorherigen Einverständnis
    des Nutzers der Webseite. Eine Weitergabe der Daten an Dritte findet ohne ausdrückliche Zustimmung des Nutzers
    nicht statt.</p>
  <p>Wir weisen darauf hin, dass die Übertragung von Daten im Internet (z. B. per E-Mail) Sicherheitslücken
    aufweisen und ein lückenloser Schutz der Daten vor dem Zugriff Dritter nicht gewährleistet werden kann. Der
    Anbieter übernimmt keine Haftung für die durch solche Sicherheitslücken entstandenen Schäden. </p>
  <h3>2. Registrieren eines Service</h3>
  <p>
    Wir speichern die im Formular eingegebenen Daten unverschlüsselt in unserer Datenbank.
    Die Daten werden, bis Sie uns aufforden diese zu löschen (siehe 2.1), oder wir uns entscheiden Ihren Eintrag zu
    entfernen, gespeichert. Wir behalten uns das Recht vor, Einträge im Nachhinein zu bearbeiten oder zu löschen, falls diese fehlerhaft sind oder fehlerhafte/falsche Inhalte enthalten.
    <br>
    Nachdem wir Ihren Beitrag freigeschaltet haben, ist dieser für jede Person, die unsere Website besucht, sichtbar.
  </p>
  <h3>2.1 Löschung eines Service</h3>
  <p>
    Wenn Sie Ihren Eintrag löschen wollen, senden Sie uns bitte von Ihrer <u>angegebenen</u> E-Mail Adresse
    (<strong>wichtig</strong>) eine
    Nachricht an <a href="mailto:info@wie-kann-ich-helfen.eu">info@wie-kann-ich-helfen.eu</a> und wir werden Ihren
    Eintrag schnellstmöglich entfernen. Wenn Sie Eigentümer eines Service sind, diesen entfernen möchten und dieser von
    einer unberechtigten
    Person eingetragen wurde,
    senden Sie uns bitte auch eine E-Mail mit einem Nachweis, dass Sie rechtmäßiger Eigentümer des Dienstes sind.</p>
</div>
