<div class="container">
  <h1>Impressum</h1>
  <p>
    Inhaber von wie-kann-ich-helfen.eu ist <br>
    Benjamin Pabst<br>
    Wallbergstraße 19<br>
    85435 Erding<br>
    Deutschland<br>
    E-Mail: <a href="mailto:contact@wie-kann-ich-helfen.eu">wie-kann-ich-helfen.eu</a><br>
    <br />
    <h1>Disclaimer – rechtliche Hinweise</h1>
    <p>
      <strong>1. Haftungsbeschränkung</strong><br />
      Die Inhalte des Internetauftritts wurden mit größtmöglicher Sorgfalt und nach bestem Gewissen erstellt. Dennoch
      übernimmt der Anbieter dieser Webseite keine Gewähr für die Aktualität, Vollständigkeit und Richtigkeit der
      bereitgestellten Seiten und Inhalte.</p>
    <p>Als Diensteanbieter ist der Anbieter dieser Webseite gemäß § 7 Abs. 1 TMG für eigene Inhalte und bereitgestellte
      Informationen auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich; nach den §§ 8 bis 10 TMG jedoch
      nicht verpflichtet, die übermittelten oder gespeicherten fremden Informationen zu überwachen. Eine Entfernung oder
      Sperrung dieser Inhalte erfolgt umgehend ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung. Eine
      Haftung ist erst ab dem Zeitpunkt der Kenntniserlangung möglich.</p>
    <p><strong>2. Externe Links</strong><br />
      Die Webseite enthält sog. „externe Links“ (Verlinkungen) zu anderen Webseiten, auf deren Inhalt der Anbieter der
      Webseite keinen Einfluss hat. Aus diesem Grund kann der Anbieter für diese Inhalte auch keine Gewähr
      übernehmen.<br />
      Für die Inhalte und Richtigkeit der bereitgestellten Informationen ist der jeweilige Anbieter der verlinkten
      Webseite verantwortlich. Zum Zeitpunkt der Verlinkung waren keine Rechtsverstöße erkennbar. Bei Bekanntwerden
      einer solchen Rechtsverletzung wird der Link umgehend entfernen. </p>
    <p><strong>3. Urheberrecht/Leistungsschutzrecht</strong><br />
      Die auf dieser Webseite veröffentlichten Inhalte, Werke und bereitgestellten Informationen unterliegen dem
      deutschen Urheberrecht und Leistungsschutzrecht. Jede Art der Vervielfältigung, Bearbeitung, Verbreitung,
      Einspeicherung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechts bedarf der vorherigen
      schriftlichen Zustimmung des jeweiligen Rechteinhabers. Das unerlaubte Kopieren/Speichern der bereitgestellten
      Informationen auf diesen Webseiten ist nicht gestattet und strafbar. </p>   
</div>
