<div class="page-container">
  <h1 class="page-heading">
    Registrierungsanfrage stellen
  </h1>
  <p class="page-description">
    Du hast eine App / Website / Social Media Kanal der Menschen während der
    Krise helfen kann?<br />
    Hier kannst du ihn registrieren.
  </p>
  <div class="form-container">
    <form>
      <div class="form left">
        <div class="input-container">
          <p class="input-title">
            Name des Service ({{ nameCount }} / {{ nameMax }})
          </p>
          <input
            [(ngModel)]="currentEntry.name"
            name="name"
            type="text"
            class="name"
            maxlength="20"
            (input)="onKey($event.target.value, 'name')"
          />
        </div>
        <div class="input-container">
          <p id="desc" class="input-title">
            Beschreibung ({{ descCount }} / {{ descMax }}) mind.120
          </p>
          <textarea
            [(ngModel)]="currentEntry.description"
            name="description"
            class="description"
            maxlength="200"
            (input)="onKey($event.target.value, 'desc')"
          ></textarea>
        </div>
        <div class="input-container">
          <p class="input-title">Kategorie</p>
          <select
            class="category"
            [(ngModel)]="currentEntry.category"
            name="category"
          >
            <option value="hilfe">Hilfe suchen / anbieten</option>
            <option value="unterstützung">Unterstützen</option>
            <option value="information">Informationen</option>
            <option value="gesundheit">Gesundheit / Gesundheitssystem</option>
            <option value="spenden">Spenden / Finanzielle Unterstützung</option>
            <option value="zeitvertreib">Zeitvertreib</option>
            <option value="an grenzen">Grenzen</option>
            <option value="e-learning">E - Learning</option>
            <option value="forschung">Forschung</option>
            <option value="wissenschaft">Wissenschaft</option>
          </select>
        </div>
        <div class="input-container select-wrapper">
          <p class="input-title">Plattformen</p>
          <div class="checkbox-container">
            <input
              [(ngModel)]="checkboxes.website"
              type="checkbox"
              id="plat_website"
              name="plat_website"
            />
            <label for="plat_website">Website (oder Social-Media Kanal)</label>
          </div>
          <div class="checkbox-container">
            <input
              [(ngModel)]="checkboxes.android"
              type="checkbox"
              id="plat_android"
              name="plat_android"
            />
            <label for="plat_android">Android-App</label>
          </div>
          <div class="checkbox-container">
            <input
              [(ngModel)]="checkboxes.ios"
              type="checkbox"
              id="plat_ios"
              name="plat_ios"
            />
            <label for="plat_ios">iOS-App</label>
          </div>
          <!-- <select class="category" [(ngModel)]="currentEntry.type" name="type">
            <option value="app_both">App (Android&iOS)</option>
            <option value="app_android">App (nur Android)</option>
            <option value="app_ios">App (nur iOS)</option>
            <option value="website">Website</option>
            <option value="app_android_website">App (nur Android) und Website</option>
            <option value="app_ios_website">App (nur iOS) und Website</option>
            <option value="app_both_website">App (Android&iOS) und Website</option>
          </select> -->
        </div>
        <div class="input-container">
          <p class="input-title">Sprache</p>
          <select
            class="category"
            [(ngModel)]="currentEntry.language"
            name="language"
          >
            <option value="german">Deutsch</option>
            <option value="english">English</option>
          </select>
        </div>
        <div class="input-container">
          <p class="input-title">Name des Betreibers / der Betreibergruppe</p>
          <input
            [(ngModel)]="nameOfOwner"
            name="creatorName"
            type="text"
            class="name"
          />
        </div>
        <div class="input-container">
          <p class="input-title">E-Mail</p>
          <input
            [(ngModel)]="emailOfOwner"
            name="creatorEmail"
            type="text"
            class="name"
          />
        </div>
        <div class="input-container">
          <p class="input-title">Link zur Website / App</p>
          <input
            [(ngModel)]="currentEntry.link"
            name="link"
            type="text"
            class="name"
          />
        </div>
        <div class="input-container">
          <p class="input-title">Link zu einem Youtube-Video (z.B. Trailer)</p>
          <input
            [(ngModel)]="currentEntry.youtubeLink"
            name="link"
            type="text"
            class="name"
          />
        </div>
        <div class="errorDisplay" *ngIf="showError">
          <p>{{ error }}</p>
        </div>
        <div class="successfullDisplay" *ngIf="showSucc">
          <p>
            Daten erfolgreich abgeschickt! Wir werden deine Eingaben prüfen, den
            Eintrag freischalten und auf dich zurückkommen falls wir Fragen
            haben :)
          </p>
        </div>
        <div class="checkbox-container">
          <input
            [(ngModel)]="checkboxes.dataPrivacy"
            type="checkbox"
            id="confirmData"
            name="confirmData"
          />
          <label for="confirmData"
            >Ich bestätige, dass
            <ul>
              <li>
                ich die
                <a href="./#/dataprivacy" target="_blank"
                  >Datenschutzerklärung</a
                >
                akzeptiere
              </li>
              <li>
                ich meinen Eintrag per E-Mail an
                <a href="mailto:info@wie-kann-ich-helfen.eu"
                  >info@wie-kann-ich-helfen.eu</a
                >
                löschen lassen kann
              </li>
              <li>
                ich der Besitzer des Service oder berechtigt bin, ihn hier
                einzutragen
              </li>
              <li>
                der Service kostenlos und non-kommerziell ist und bleibt (und
                falls sich das ändert ich mich per E-Mail melde)
              </li>
            </ul>
          </label>
        </div>
        <div class="form mobile-only mobile-tags">
          <div class="input-container">
            <p class="input-title">Tags</p>
            <div class="tags">
              <div class="tag-container" *ngFor="let tag of tags">
                <app-register-tag [content]="tag"></app-register-tag>
              </div>
            </div>
            <p class="small">
              Du kannst maximal 8 Tags auswählen.<br />
              Dir fehlt ein Tag? Schreibe eine E-Mail an
              <a href="mailto:neuertag@wie-kann-ich-helfen.eu">uns</a>.
            </p>
          </div>
        </div>

        <div class="input-container">
          <button (click)="captchaV3()" type="submit">Einreichen</button>
        </div>
      </div>
      <div class="form right mobile-except">
        <div class="input-container">
          <p class="input-title">Tags</p>
          <div class="tags">
            <div class="tag-container" *ngFor="let tag of tags">
              <app-register-tag [content]="tag"></app-register-tag>
            </div>
          </div>
          <div class="tag-explanations">
            <div>
              <div class="tag-information" *ngFor="let tag of selectedTags()">
                <p>
                  <b class="tag-name">{{ tag.name }}</b
                  >: {{ tag.description }}
                </p>
              </div>
            </div>
          </div>
          <p class="small">
            Du kannst maximal 8 Tags auswählen.<br />
            Dir fehlt ein Tag? Schreibe eine E-Mail an
            <a href="mailto:neuertag@wie-kann-ich-helfen.eu">uns</a>.
          </p>
        </div>
      </div>
    </form>
  </div>
  <br />
</div>
