.form-container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 40px;

}

.form {
  width: 45%;
  float: left;
}

.right {
  margin-left: 100px;
}

.input-container {
  text-align: left;
}

.checkbox-container {
  text-align: left;
  margin-top: 20px;
}

.checkbox-container input,
.checkbox-container label {
  display: inline;
  padding: 16px;
  font-size: 1.4em;
  text-align: left;
  font-family: Roboto-Regular;
}

.checkbox-container:hover {
  cursor: pointer;
}
.checkbox-container input:hover {
  cursor: pointer;
}
.checkbox-container label:hover {
  cursor: pointer;
}
.checkbox-container ul:hover {
  cursor: pointer;
}

a {
  font-size: 1em;
  text-align: left;
  font-family: Roboto-Regular;
  text-decoration: none;
  color: hsl(240, 35%, 20%);
}

input,
textarea,
select {
  height: 30px;
  width: 100%;
  border: solid 2px hsl(240, 35%, 20%);
  outline: none;
  border-radius: 5px;
  padding-left: 4px;
  font-size: 1.3em;
  margin-top: -2px;
  resize: none;
  font-family: Roboto-Regular;
}

button {
  width: 200px;
  height: 50px;
  font-size: 1.2em;
  border: solid 2px hsl(240, 35%, 20%);
  border-radius: 50px;
  margin-bottom: 50px;
  background-color: hsl(240, 35%, 20%);
  color: #ffffff;
}

button:hover {
  background-color: hsl(240, 35%, 30%);
  cursor: pointer;
}

textarea {
  padding: 15px;
  width: 98%;  
}

select {
  width: 400px;
  height: 38px;
}

.input-title {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 1.5em;
  font-family: Roboto-Regular;
}

.description {
  height: 120px;
  border-radius: 5px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  justify-content: left;
}

.tag-container {
  height: 30px;
  width: 150px;
  margin: 6px;
  margin-right: 20px;
  margin-left: 0;
}

.errorDisplay {
  padding: 8px;
  margin-top: 16px;
  border-radius: 25px;
  width: auto;
  background-color: darkred;
  color: white;
  font-family: "Roboto-Regular";
  font-size: 1.2em;
}

.successfullDisplay {
  padding: 8px;
  margin-top: 16px;
  border-radius: 25px;
  width: auto;
  background-color: darkgreen;
  color: white;
  font-family: "Roboto-Regular";
  font-size: 1.2em;
}

.errorDisplay p {
  margin: 0px;
}

.mobile-only {
  display: none;
}

.mobile-except {
  display: initial;
}

.mobile-tags {
  padding-bottom: 32px;
}

.small {
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.5);
  padding: 0px;
  margin: 0px;
  margin-top: 8px;
  font-family: "Roboto-Light";  
  text-align: center;
}

 #plat_website, #plat_android, #plat_ios, #confirmData{
  display: none;
}

input[type="checkbox"] + label::before {
  width: 20px;
  height: 20px;
  border-radius: 5px; 
  border: 2px solid hsl(240, 35%, 20%);
  background-color: #fff;
  display: block;
  content: "";
  float: left;
  margin-right: 5px;
}
input[type="checkbox"]:checked + label::before {
  box-shadow: inset 0px 0px 0px 3px #fff;
  background-color: hsl(240, 35%, 20%);
}

.tag-name{
  text-transform: capitalize;
  font-family: 'Roboto';
}

@media (max-width: 1700px) {
  .form {
    width: 100%;
  }

  .form-container {
    width: 90%;
  }

  .right {
    margin-left: 0;
  }

  .input-container {
    width: 90%;
  }

  select {
    width: 100%;
  }

  .tags {
    width: 112%;
  }

  .mobile-only {
    display: initial;
  }

  .mobile-except {
    display: none;
  }
}
