<div
  class="container"
  (mouseenter)="toggleTagNames(true)"
  (mouseleave)="toggleTagNames(false)"
  [style.height]="this.showVideo ? '110%' : '110%'"
  [style.width]="this.showTagNames ? '1200' : '100%'"
  [style.marginLeft]="this.showTagNames ? '0' : '0'"
  [style.zIndex]="this.showTagNames ? '10' : '5'"
>
  <div class="subcontainer" (mouseenter)="toggleTagNames(true)">
    <div
      class="video-container"
      (mouseenter)="toggleTagNames(true)"
      [style.animation]="
        this.showVideo && this.showTagNames
          ? 'expandVideo 0.3s 0s 1 forwards'
          : 'none'
      "
    >
      <!-- src="https://www.youtube.com/embed/C9LGfxo58qc?enablejsapi=1&version=3&playerapiid=ytplayer" -->
      <iframe
        width="100%"
        height="315"
        frameborder="0"
        allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        class="video-screen"
        allowscriptaccess="always"
        #videoScreen
      ></iframe>
    </div>
    <div
      class="content"
      id="content"
      #contentElement
      [style.marginTop]="
        this.showTagNames && this.showVideo && this.screenWidth > 1000
          ? '140px'
          : '0'
      "
      [style.minHeight]="this.showTagNames && this.showVideo ? '100px' : '70%'"
      [style.maxHeight]="this.showTagNames && this.showVideo ? '100px' : '70%'"
      (mouseenter)="toggleTagNames(true)"
      #contentElement
    >
      <div
        class="icon-container"
        [style.height]="this.showVideo ? '65px' : '70px'"
        [style.paddingTop]="this.showVideo ? '10px' : '20px'"
      >
        <!--  <h3
          class="icon-title"
          [style.display]="content.type.includes('app') ? 'relative' : 'none'"
        >
          APP
        </h3> -->
        <div
          [style.display]="
            content.type.includes('android') || content.type.includes('both')
              ? 'relative'
              : 'none'
          "
          id="androidIcon"
          class="type-icon"
        ></div>
        <fa-icon
          class="icon"
          [icon]="faApple"
          [style.display]="
            content.type.includes('ios') || content.type.includes('both')
              ? 'relative'
              : 'none'
          "
        >
        </fa-icon>
        <!--    <h3
          class="icon-title"
          [style.display]="
            content.type.includes('website') ? 'relative' : 'none'
          "
        >
          WEBSITE
        </h3> -->
        <fa-icon
          class="icon"
          [icon]="faDesktop"
          [style.display]="
            content.type.includes('website') ? 'relative' : 'none'
          "
        ></fa-icon>
      </div>
      <!-- <h3 class="type">{{ content.type | abbrevation }}</h3>-->
      <h2 class="heading">{{ content.name }}</h2>
      <p
        class="description"
        [style.visibility]="this.showVideo ? 'hidden' : 'visible'"
      >
        {{
          content.description.length > 170 && !showTagNames
            ? (content.description | slice: 0:170) + "..."
            : content.description
        }}
      </p>
    </div>
    <div
      class="cardButtons"
      [style.height]="
        this.showVideo && this.screenWidth <= 1000 ? '50px' : 'auto'
      "
    >
      <button
        *ngIf="hasVideo"
        (click)="toggleVideo()"
        class="more video"
        [style.top]="
          this.showVideo && this.screenWidth > 1000 ? '-100px' : '10px'
        "
        [style.marginRight]="
          this.showVideo && this.screenWidth > 1000 ? '380px' : '5px'
        "
        #videoButton
      >
        {{ !this.showVideo ? "Video" : "Zurück" }}
      </button>
      <button
        (click)="onMore()"
        class="more video"
        [style.top]="
          this.showVideo && this.screenWidth > 1000 ? '-150px' : '10px'
        "
        [style.marginLeft]="
          this.showVideo && this.screenWidth > 1000 ? '380px' : '5px'
        "
        #more
      >
        Mehr
      </button>
    </div>
    <div>
      <div
        class="tag-container"
        [style.height]="
          this.showVideo && this.screenWidth <= 1000 ? '0px' : 'auto'
        "
        #tags
      >
        <div
          class="tag"
          *ngFor="let tag of content.tags"
          [ngStyle]="{
            'background-color': tag.color,
            color: this.showTagNames ? invertColor(tag.color) : 'transparent',
            animation: this.showTagNames
              ? 'expandTags 0.2s linear 0.2s 1 forwards, expandLabel 0.3s linear 0s'
              : ''
          }"
        >
          {{ tag.name }}
        </div>
      </div>
    </div>
  </div>
</div>
