/* app-index-card:hover{
  flex-grow: 3;
  max-width: 660px;
} */

.container {
  width: 100%;
  height: 100%;
  min-height: 100%;
  transition: all 0.3s;
  position: relative;
  z-index: 300;
}

.container:hover {
  cursor: default;
}

.subcontainer {
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  background-color: hsl(240, 35%, 20%);
  color: #ffffff;
  font-size: 1.3em;
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.75);
  position: relative;
}

.content {
  min-height: 70%;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.type {
  text-transform: uppercase;
  opacity: 0.7;
  font-size: 1.3em;
  margin-top: 20px;
}

.heading {
  font-style: bold;
  font-family: Roboto-Medium;
  margin-top: -15px;
}

.description {
  margin-top: -12px;
  opacity: 0.82;
  overflow-wrap: break-word;
}

.more {
  font-size: 0.9em;
  background: transparent;
  color: #ffffff;
  border: solid 2px #ffffff;
  border-radius: 5px;
  padding: 8px 16px;
  margin-right: auto;
  margin-left: auto;
}

.more:hover {
  background: #ffffff;
  color: hsl(240, 35%, 20%);
  cursor: pointer;
  outline: none;
}

.tag-container {
  margin-top: 20px;
  margin-bottom: 8px;
  margin-left: 16px;
  margin-right: 16px;
  padding: 4px;
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.tag {
  width: auto;
  border-radius: 16px;
  height: 3px;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 3px;
  padding-top: 4px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  font-size: 0.6em;
  line-height: 0;
  color: transparent;
  /* transition: all 10s; */
  font-family: "Roboto-Condensed";
}

.cardButtons {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.video {
  position: relative;
}

.cardButtons button {
  margin: 4px;
}

.video-container {
  height: 0;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
}

iframe {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

button {
  outline: none;
}

.icon-container {
  height: 70px;
  font-size: 37px;
  padding-top: 20px;
}

.icon-title {
  display: inline-block;
  font-size: 0.7em;
  text-transform: uppercase;
  opacity: 0.7;
  margin-top: -30px;
  margin-left: 10px;
}

.icon {
  margin-left: 12px;
  margin-right: 12px;
  opacity: 0.6;
  margin-bottom: 8px;
}

#androidIcon {
  background: url(../../../../../assets/icon_android.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.type-icon {
  display: inline-block;
  height: 36px;
  width: 36px;
  opacity: 0.6;
  margin-left: 12px;
  margin-right: 12px;
}

@media (max-width: 1000px) {
}

@keyframes expandTags {
  0% {
    transform: translate(0);
    height: 2px;
    line-height: 0px;
    padding-top: 4px;
  }

  50% {
    line-height: 0px;
  }

  100% {
    height: 8px;
    line-height: auto;
    padding-top: 12px;
  }
}

@keyframes shrinkContent {
  0% {
    visibility: visible;
  }

  100% {
    visibility: hidden;
  }
}

@keyframes expandVideo {
  0% {
    height: 0;
    max-height: 0;
    opacity: 0;
    visibility: visible;
  }

  60% {
    opacity: 0;
    visibility: visible;
  }

  100% {
    height: 42%;
    max-height: 42%;
    opacity: 1;
    visibility: visible;
  }
}

@keyframes expandLabel {
  0% {
    color: transparent;
  }

  80% {
    color: transparent;
  }

  100% {
    color: none;
  }
}

@keyframes collapseContent {
  0% {
    margin-top: 140px;
  }

  100% {
    margin-top: 0px;
  }
}

@keyframes collapseContentChild {
  0% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
  }
}
