.tag-container {
  width: 100%;
  height: 100%;
  border: solid 2px;
  border-radius: 30px;
}

.tag-container:hover {
  cursor: pointer;
}

.tag-text {
  margin-top: 7px;
  text-align: center;
  font-family: Roboto-Regular;
  text-transform: uppercase;
}
