.main-container {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.person-container {
  width: 30%;
  min-width: 300px;
  margin-top: 20px;
  text-align: center;
}

.icon-container {
  border-radius: 150px;
  height: 150px;
  max-height: 150px;
  width: 150px;
  text-align: center;
  box-shadow: 2px 10px 25px -9px rgba(0, 0, 0, 0.75);
  box-sizing: border-box;
  padding-top: 25px;
  margin-right: auto;
  margin-left: auto;
}

.pabst {
  background: url(../../../../../assets/pabst.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center 90%;
}

.person-container a {
  text-decoration: none;
  color: hsl(240, 35%, 20%);
}

.nic {
  background: url(../../../../../assets/nic.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
}

.fl {
  background: url(../../../../../assets/fl.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
}

.name {
  margin-top: 40px;
  position: relative;
  height: 20px;
  font-size: 1.8em;
}

.description {
  margin-top: 20px;
  font-size: 1.3em;
}

.features-container {
  text-align: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

.features-heading {
  font-size: 2.5em;
}

ul {
  list-style: none;
  padding-left: 0px;
}

li {
  margin-top: 15px;
  font-size: 1.6em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1000px) {
  .features-container {
    width: 95%;
  }

  li {
    width: 100%;
  }
}
