<div class="page-container">
  <h1 class="page-heading">Corona Krise - Wie kann ich helfen?</h1>
  <p class="page-description">created by</p>
  <div class="main-container">
    <div class="person-container">
      <div class="icon-container pabst"></div>
      <h2 class="name">
        <a href="https://pabst.dev" target="_blank">Benjamin Pabst</a>
      </h2>
      <p class="description">Concept, Frontend, Backend</p>
    </div>
    <div class="person-container">
      <div class="icon-container nic"></div>
      <h2 class="name">Nicolai Stein</h2>
      <p class="description">Concept, Frontend</p>
    </div>
    <div class="person-container">
      <div class="icon-container fl"></div>
      <h2 class="name">Florian Hamberger</h2>
      <p class="description">Concept, Admin Panel</p>
    </div>
  </div>
  <div class="features-container">
    <h2 class="features-heading">Geplante Features</h2>
    <div class="features">
      <ul>
        <li>Verschiedene Sprachen unterstützen</li>
        <li>Bearbeiten der Beiträge ermöglichen</li>
      </ul>
    </div>
  </div>
</div>
