.page-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding-bottom: 100px;
}

.page-heading {
  text-align: center;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  font-size: 3em;
}

.page-description {
  text-align: center;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  font-size: 2em;
}

@media (max-width: 1000px) {
  .page-heading {
    width: 90%;
    font-size: 2em;
  }

  .page-description {
    font-size: 1em;
  }

  .page-description {
    width: 90%;
  }
}
