<div class="container desktop-nav">
  <div class="heading url" [class.active]="href == '/'" (click)="onclick('')">
    <h2>Startseite</h2>
  </div>
  <div class="heading separator">
    <h2>|</h2>
  </div>
  <div
    class="heading url"
    [class.active]="href == '/register'"
    (click)="onclick('register')"
  >
    <h2>Service Registrieren</h2>
  </div>
  <div class="heading separator">
    <h2>|</h2>
  </div>
  <div
    class="heading url"
    [class.active]="href == '/about'"
    (click)="onclick('about')"
  >
    <h2>ÜBER</h2>
  </div>
</div>
<div class="container mobile-nav">
  <div class="navbar">
    <div class="nav-toggle">
      <fa-icon
        class="nav-toggler"
        (click)="toggleNav()"
        [icon]="faBars"
      ></fa-icon>
    </div>
    <div class="nav-elements" [@toggle]="state">
      <h3 [class.active]="href == '/'" (click)="onclick('')">Startseite</h3>
      <h3 [class.active]="href == '/register'" (click)="onclick('register')">
        Service Registrieren
      </h3>
      <h3 [class.active]="href == '/about'" (click)="onclick('about')">Über</h3>
    </div>
  </div>
</div>
