.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: hsl(240, 35%, 20%);
}

.heading {
  font-size: 1.1em;
  color: #7a7a7a;
  text-transform: uppercase;
  font-family: "Roboto-Light";
  font-weight: 200;
}

.active {
  color: white;
}

.url {
  padding: 0 30px;
}

.url:hover {
  cursor: pointer;
  /*  background-color: gray; */
}

.mobile-nav {
  display: none;
  width: 100%;
}

.navbar {
  background-color: hsl(240, 35%, 20%);
}

.nav-toggle {
  color: white;
  padding: 8px;
  margin-left: 8px;
  font-size: 2em;
  text-align: left;
}

.nav-toggler {
  cursor: pointer;
}

.nav-elements {  
  padding-bottom: 8px;
}

.nav-elements h3 {
  text-transform: uppercase;
  color: white;
  text-align: left;
  padding: 8px;
  margin: 0px 0px 0px 8px;
  font-family: 'Roboto-Light';
  font-weight: 200;
}

.nav-elements h3:hover{
  cursor: pointer;
}

@media (max-width: 1000px) {
  .container {
    flex-wrap: wrap;
  }

  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: initial;
  }

  .separator {
    display: none;
  }

  .url {
    width: 100%;
    text-align: center;
    padding: 0 8px;
    font-size: 1.5em;
  }

  .url h2 {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}
