/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: Roboto-Bold;
  src: url(assets/roboto/Roboto-Medium.ttf) format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: Roboto-Medium;
  src: url(assets/roboto/Roboto-Bold.ttf) format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: Roboto-Thin;
  src: url(assets/roboto/Roboto-Thin.ttf) format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: Roboto-Light;
  src: url(assets/roboto/Roboto-Light.ttf) format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: Roboto-Regular;
  src: url(assets/roboto/Roboto-Regular.ttf) format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: Roboto-Condensed;
  src: url(assets/roboto/RobotoCondensed-Regular.ttf) format("truetype");
  font-weight: 100;
}

html,
body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  font-family: "sans-serif", Roboto-Light;
  font-weight: 200;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

app-root {
  width: 100%;
  min-height: 100%;
  display: block;
  position: relative;
}

app-index-page{
  padding-bottom: 64px;
}

button {
  outline: none;
}

.grecaptcha-badge {
  visibility: hidden;
}
